<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instytut Meteorologii</title>
{#    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">#}
</head>
<body style="background-image: url('../static/background4.jpg'); background-size: cover; background-attachment: fixed">
    <div style="text-align: right;">
        {% block backButton %}{% endblock %}
        <button type="button" onclick="window.location.href='{{ url_for('home') }}'" style="">Wyloguj</button>
    </div>
    <div style="text-align: center; margin-top: 50px">
{#        <form method="post" action="/filterData">#}
{#            <label class="center" for="params"></label>#}
{#            <input type="text" name="params" id="params">#}
{#            <input type="submit" value="Wyszukaj" style="margin-bottom: 20px">#}
{#            {% if role == "a" %}#}
{#                <button type="button" onclick="window.location.href='{{ url_for('adminPage') }}'">Wyczyść filtry</button>#}
{#            {% endif %}#}
{#            {% if role == "k" %}#}
{#                <button type="button" onclick="window.location.href='{{ url_for('managerPage') }}'">Wyczyść filtry</button>#}
{#            {% endif %}#}
{#            {% if role == "p" %}#}
{#                <button type="button" onclick="window.location.href='{{ url_for('workerPage') }}'">Wyczyść filtry</button>#}
{#            {% endif %}#}
{#        </form>#}
    </div>
{#        {% if error %}#}
{#            <div style="text-align: center">#}
{#                <p><strong>{{ error }}</strong></p>#}
{#            </div>#}
{#        {% endif %}#}

        {% if result %}
        <div style="text-align: center">
            <p><strong>{{ result }}</strong></p>
        </div>
    {% endif %}

        {% block options %}
        {% endblock %}

        {% for doc in allDocuments %}
        <div style="border: 1px solid gray; border-radius: 15px">
            <p>{% for key in doc.keys() %}
                {{ key }}: {{ doc[key] if doc[key] != "" else "null"}}<br>
            {% endfor %}
            </p>

            {% block edit_delete %}
            {% endblock %}

            {% if modifying %}
                <form method="post" action="/editPage" style="margin-left: 3px">
                    {% if role == "admin" %}
                        <label for="id"></label>
                        <input type="hidden" name="id" id="id" value="{{ doc["id"] }}">
                    {% endif %}
                    {%  if role == "manager" %}
                        <label for="station"></label>
                        <input type="hidden" name="station" id="station" value="{{ doc["stationId"] }}">
                        <label for="time"></label>
                        <input type="hidden" name="time" id="time" value="{{ doc["time"] }}">
                    {% endif %}
                    <input type="submit" value="Edytuj">
                </form>

                <form method="post" action="/deletePosition" style="margin-bottom: 5px; margin-left: 3px">
                    {% if role == "admin" %}
                        <label for="id"></label>
                        <input type="hidden" name="id" id="id" value="{{ doc["id"] }}">
                    {% endif %}
                    {%  if role == "manager" %}
                        <label for="stationId"></label>
                        <input type="hidden" name="stationId" id="stationId" value="{{ doc["stationId"] }}">
                        <label for="time"></label>
                        <input type="hidden" name="time" id="time" value="{{ doc["time"] }}">
                    {% endif %}
                    <input type="submit" value="Usuń">
                </form>
            {% endif %}
        </div>
    {% endfor %}


</body>
</html>